<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/" class="logo-link">
      <span class="logo">AA</span> <!-- Optional icon for the logo -->
    </a>
    <a routerLink="/services" class="all-services">All Services</a>
  </div>
  <div class="navbar-right">
    <a routerLink="/BecomePro" class="nav-option" id="become-pro">Become an AgileActor</a>
    <a routerLink="/dashboard" class="nav-option" id="dashboard">Professional Dashboard</a>
    <a routerLink="/Help" class="nav-option" id="help">Help</a>
    <a routerLink="/cart" class="nav-option" id="cart">Cart</a>
    <a (click)="isAuthenticated() ? signOut() : navigateToAuth()" class="nav-option" id="log-in">
      {{ isAuthenticated() ? 'Sign Out' : 'Login/Signup' }}
    </a>
  </div>
</nav>
